<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script type="text/javascript" src="//sta.codeforces.com/s/81719/js/prettify/prettify.js"></script>
  <link rel="stylesheet" href="/css/problem.css">
  
  <link href="assets/css/style.css" rel="stylesheet">
  <!--JQUERY-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <style>
      body{
        background: rgb(9,68,121);
      background: linear-gradient(96deg, rgba(9,68,121,1) 41%, rgba(187,0,255,0.846673703661152) 100%);
      }
      
      </style>
<script>
    MathJax = {
      tex: {
        inlineMath: [['$$$', '$$$'], ['\\(', '\\)']],
        displayMath: [['$','$'],["\\[","\\]"]],
        processEscapes:true
      },
      svg: {
        fontCache: 'global'
      }
    };
</script>

<script type="text/javascript" id="MathJax-script" async
src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
<script type="text/javascript" src="//sta.codeforces.com/s/81719/js/prettify/prettify.js"></script>
<!--JQUERY-->
<script>
    function getUrlVars()
        {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
</script>
<script>
    $(document).ready(function(){
     var id=getUrlVars()["id"];
     $.ajax({
         url:'/byId',
         data: {id:id,page:'PostId'},
         method: 'POST',
         dataType: 'JSON',
         success:function(result){
               //$('#quest').append(result.title+"<br>",result.timeLimit+"<br>",result.memoryLimit+"<br>",
               //result.description+"<br>",result.InputSpecification+"<br>",result.OutputSpecification+"<br>",
               //result.rating+"<br>",result.note+"<br>");
               $('#heading').append(result.title);
               $('#time-limit').append(result.timeLimit);
               $('#memoryLimit').append(result.memoryLimit);
               $('#description').append(result.description);
               $('#InputSpecification').append(result.InputSpecification);
               $('#OutputSpecification').append(result.OutputSpecification);     

         }
       })
        
        });
</script>

</head>
<body>
  <header id="header" style="background: transparent;">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><span>{&#8644;}</span><span style="font-size:40px;">L</span><sapn class="invert" style="font-size: 40px;color: #171D1C;">B</sapn></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="user1">Home</a></li>
          <li><a href="profile">Profile</a></li>
          <li><a href="problem">Problems</a></li>
          <li><a href="#contact">Contact Us</a></li>
          <li><a  href="login">LogOut</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

    <div class="jumbotron" style="margin-top: 2%; width: 80%; margin-left: 10%;">
        <div class="container">
        <p id="heading" style="text-align: center; color:white; font-size: 32px; ;"></p>
        <p id="time-limit" style="text-align: center; color:white; font-size: 15px;"></p>
        <p id="memoryLimit" style="text-align: center; color:white; font-size: 17px;"></p>
        <p id="description" style="text-align: center; color:white; font-size: 17px; text-align: left"></p>

    </div>
    <div class="jumbotron" style="width: 100%; margin-left: 0%;">
      <p id="InputSpecification" style="text-align: center; color:white; font-size: 17px;text-align: left"></p>
      
    </div>
    <div class="jumbotron" style="width: 100%; margin-left: 0%;">
      <p id="OutputSpecification" style="text-align: center; color:white; font-size: 17px;text-align: left"></p>
      
    </div>
    </div>
    
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html> 
