<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="//sta.codeforces.com/s/81719/js/prettify/prettify.js"></script>
<link rel="stylesheet" href="/css/problem.css">

<link href="assets/css/style.css" rel="stylesheet">
<!--JQUERY-->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<style>
body{
  background: rgb(9,68,121);
background: linear-gradient(96deg, rgba(9,68,121,1) 41%, rgba(187,0,255,0.846673703661152) 100%);
}

</style>
<script>

    $(document).ready(function(){
       no=1;
        $.get("/filter",(result,status)=>{  
            no=result.length;
            if(no==0){
                $('.addProblems').show();
            }
            else{
                $('.Problems').show();
            }
            for(let i=0;i<result.length;i++){
                console.log(result[i]);
                var id=result[i]._id;
                console.log(id);
                $('.QuesTable').append(`<tr><td>`+(i+1)+`</td>
                                        <td><a href=/newPage?id=`+id+`>`+result[i].title.slice(2)+`</a></td>
                                        <td>`+result[i].rating+`</td>
                                        <td><a href="" class="btnDelete" id=`+id+`>🗑</td>
                                        </tr>
                `);
                // $('#quest').append('<a href=/newPage?id='+id+'>'+`${i+1}`+result[i].title.slice(2)+'\xa0\xa0\xa0\xa0\xa0\xa0\xa0'+result[i].rating+"<br>");
            }
        })
        $('.goToUser').click(function(e){
             var bn_pathname=window.location.href;
             var en_pathname=bn_pathname.replace('/problem','/user1');
             window.location.replace(en_pathname);
             console.log(en_pathname);
        })
        $('.QuesTable').on('click','.btnDelete',function(e){
            $(this).closest('tr').remove();
            e.preventDefault();
            var id = $(this).attr('id');
            console.log(no);
            console.log(id);
            $.ajax({
                url:'/delete',
                method:"POST",
                data:{page:id},
                dataType:'JSON'  
            })
            no-=1;
            if(no==0){
                $('.Problems').hide();
                $('.addProblems').show();
            }
        })

        $(".ascending").click(function(e){
            e.preventDefault();
            $.ajax({
                url:'/filter',
                method:"POST",
                data:{page:'asc'},
                dataType:'JSON',
                success:function(result){
                    $('.QuesTable').empty();
                  for(let i=0;i<result.length;i++){
                        console.log(result[i]);
                        var id=result[i]._id;
                        console.log(id);
                        $('.QuesTable').append(`<tr><td>`+(i+1)+`</td>
                                        <td><a href=/newPage?id=`+id+`>`+result[i].title.slice(2)+`</a></td>
                                        <td>`+result[i].rating+`</td>
                                        <td><a href="" class="btnDelete" id=`+id+`>🗑</td>
                                        </tr>
                       `);
                        // $('#quest').append('<a href=/newPage?id='+id+'>'+`${i+1}`+result[i].title.slice(2)+'\xa0\xa0\xa0\xa0\xa0\xa0\xa0'+result[i].rating+"<br>");
                    }
                }
            })
        })
        $(".descending").click(function(e){
            e.preventDefault();
            $.ajax({
                url:'/filter',
                method:"POST",
                data:{page:'desc'},
                dataType:'JSON',
                success:function(result){
                    $('.QuesTable').empty();
                  for(let i=0;i<result.length;i++){
                        console.log(result[i]);
                        var id=result[i]._id;
                        console.log(id);
                        $('.QuesTable').append(`<tr><td>`+(i+1)+`</td>
                                        <td><a href=/newPage?id=`+id+`>`+result[i].title.slice(2)+`</a></td>
                                        <td>`+result[i].rating+`</td>
                                        <td><a href="" class="btnDelete" id=`+id+`>🗑</td>
                                        </tr>
                        `);
                        // $('#quest').append('<a href=/newPage?id='+id+'>'+`${i+1}`+result[i].title.slice(2)+'\xa0\xa0\xa0\xa0\xa0\xa0\xa0'+result[i].rating+"<br>");
                    }
                }
            })
        })
    })
</script>

</head>

<body>
    <header id="header" style="background: transparent;">
        <div class="container d-flex align-items-center">
    
          <div class="logo mr-auto">
            <h1 class="text-light"><a href="index.html"><span>{&#8644;}</span><span style="font-size:40px;">L</span><sapn class="invert" style="font-size: 40px;color: #171D1C;">B</sapn></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
          </div>
    
          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="user1">Home</a></li>
              <li><a href="profile">Profile</a></li>
              <li><a href="problem">Problems</a></li>
              <li><a href="#contact">Contact Us</a></li>
              <li><a  href="login">LogOut</a></li>
            </ul>
          </nav><!-- .nav-menu -->
    
        </div>
      </header><!-- End Header -->
    
<div class="jumbotron">
    
    <div class="Problems">
        <div class="dropdown filter">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: transparent;">
              filter
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
              <a class="dropdown-item ascending" href="" style="background: transparent;">rating ascending</a>
              <a class="dropdown-item descending" href="" style="background: transparent;">rating descending</a>
            </div>
          </div>
      <div>
        <table  class="table table-dark "  id="tableId">
            <tr>
                <th scope="col">Index</th>
                <th scope="col">Problem</th>
                <th scope="col">Rating</th>
            </tr>
            <tbody class="QuesTable">
            </tbody>
        </table>
   </div>
</div>
<div class="addProblems">
    No Problems in Queue
    <button type="button" class="goToUser">Add Problem</button>
</div>
</div>




  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</body>
</html> 
