
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="css/user1.css">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <style>
          
    @import url("https://fonts.googleapis.com/css?family=Inconsolata:700");

            body {
                background-color: #fff;
                margin: 0px;
                overflow: hidden;
                font-family:arial;
                color:#fff;
            }
            #canvas{
                width:100%;
                height:800px;
                overflow: hidden;
                position:absolute;
                top:0;
                left:0;
                background-color: #1a1724;               
            }
            .canvas-wrap{
                position:relative;
                
            }
            div.canvas-content{
                position:relative;
                z-index:2000;
                color:#fff;
                text-align:center;
                padding-top:30px;
            }
        </style>
  <style>
#search_bar{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}
#search_bar .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: #fdc134;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
#search_bar .search:hover {
  cursor: pointer;
}
#search_bar .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
}
#search_bar .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}
#search_bar input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: #fdc134;
  color: white;
  text-shadow: 0 0 10px #fdc134;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #fdc134, 0 15px 15px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
#search_bar input:hover {
  cursor: pointer;
}
#search_bar input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
#search_bar input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}
#search_bar input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
#search_bar input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
#search_bar input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

</style>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script>
    MathJax.Hub.Quese={
      tex: {
        inlineMath: [['$$$', '$$$'], ['\\(', '\\)']],
        displayMath: [['$','$'],["\\[","\\]"]],
        processEscapes:true
      },
      svg: {
        fontCache: 'global'
      }
    };
    </script>
<script type="text/javascript" async
src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/javascript" src="//sta.codeforces.com/s/81719/js/prettify/prettify.js"></script>
    <script>   
     $(document).ready(function(){
       $(".show").css("display","none");
       $(".rating").css("display","none");
       $('.container').on('keypress',function(e){
           if(e.which==13){
            $(".form-data").css("display","none");
           }
       })
     // $('.fetch').click(function(){
       // $(".form-data").hide();
      //})
      $(".show").click(function(){
        $(".rating").show();
        $(".box").css("display","none");
        $(".show").css("display","none");
        $(".card-5").show();
      })
    })
</script>
    </head>
    <body>
    <section class="canvas-wrap" style="z-index: -1;">
            
    <div id="canvas" class="gradient" style="top:0; position: fixed;">
  
    <div class=form-data>
    <div class="container" id="search_bar">
      <input type="text" placeholder="Search..." class="LinkBox" name="LinkData" required>
      <div class="search"></div>
    </div>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  </div>
  
      <!--Rating-->
      <div class="rating" style="box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;    
      margin: 0;
      position: fixed;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);">
        <div class="post">
          <div class="text">Thanks for rating!</div>
        </div>
        <div class="star-widget" >
          <input type="radio" name="rate"  id="rate-5" value="5">
          <label for="rate-5" class="fas fa-star"></label>
          <input type="radio" name="rate" id="rate-4" value="4">
          <label for="rate-4" class="fas fa-star"></label>
          <input type="radio" name="rate" id="rate-3" value="3">
          <label for="rate-3" class="fas fa-star"></label>
          <input type="radio" name="rate" id="rate-2" value="2">
          <label for="rate-2" class="fas fa-star"></label>
          <input type="radio" name="rate" id="rate-1" value="1">
          <label for="rate-1" class="fas fa-star"></label>
          <form>
           <div class="textarea">
              <textarea cols="30" placeholder="Add Important Notes..." id="note"></textarea>
            </div>
            <div class="btn">
              <button type="submit" class="ratingButton Submit">POST</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</section>

<div class="efect" >
  <header id="header" style="background: transparent; position: absolute; width: 100%; margin-top: -1%;">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><span>{&#8644;}</span><span style="font-size:40px;">L</span><sapn class="invert" style="font-size: 40px;color: #171D1C;">B</sapn></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block" >
        <ul >
          <li class="active"><a href="#">Home</a></li>
          <li><a href="profile">Profile</a></li>
          <li><a href="problem">Problems</a></li>
          <li><a href="#contact">Contact Us</a></li>
          <li><a  href="login">Log Out</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
</div>
<center>
    <div class="box">
      <h1 class="out block mt-5"></h1>
      <p id="ques"></p>
      <button type="button" class="show button"><span>NEXT</span></button>
      </div>
    </center>
      <script>
       
     
          $(document).ready(function(){
            $('.container').on('keypress',function(e){
              e.preventDefault();
              e.stopPropagation();
              var LinkData = $('.LinkBox').val();
              if(e.which==13){
              if(LinkData){
                $.ajax({
                  url:'/output',
                  data: {LinkData:LinkData,page:'PostLink'},
                  method: 'POST',
                  dataType: 'JSON',
                  beforeSend:function(){
                    $('.out').html(`
                    <center>
                    <div id="overlayer"></div>
                      <span class="loader">
                        <span class="loader-inner"></span>
                      </span>
                    </center>
                    `);
                  },
                  success :function(res){
                    $(".show").show()
                    console.log(res);
                    $('.out').empty();
                    $('.out').text(res[0]);
                    for(let i=1;i<=7;i++){
                    $('#ques').append(res[i]+'<br>');}
                    //MathJax.Hub.Queue(["Typeset",MathJax.Hub  ,"ques"]);
                  }
                })
              }
          }
            })
            var count=1;
            var note="";
            const btn=document.querySelector(".ratingButton");
            const post=document.querySelector(".post");
            const widget=document.querySelector(".star-widget");
            $('.Submit').click(function(e){
              count=$("input[type='radio']:checked").val();
              note=$("textarea#note").val();
              widget.style.display="none";
              post.style.display="block";
              var LinkData = $('.LinkBox').val();
                  $.ajax({
                    url:'/output',
                    data: {LinkData:LinkData,rating:count,note:note,page:'Submit'},
                    method: 'POST',
                    dataType: 'JSON',
                    success:function(res){
                    console.log(res)
                    } 
                  })
                  window.location.reload();
                $('.SelectAll').click(function(e){
                e.preventDefault();
                e.stopPropagation();
                  $.ajax({
                    url:'/selectAll',
                    data: {page:'selectAll'},
                    method: 'POST',
                    dataType: 'JSON',
                    success:function(res){
                    console.log(res)
                    } 
                  })
                  window.location.reload();
                })
              })
            })
  </script>
  





















<!-- Main library -->
<script src="js/three.min.js"></script>

<!-- Helpers -->
<script src="js/projector.js"></script>
<script src="js/canvas-renderer.js"></script>

<!-- Visualitzation adjustments -->
<script src="js/3d-lines-animation.js"></script>

<!-- Animated background color -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="js/color.js"></script>







    </body>
</html>
