@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style:none;
  font-family: 'Josefin Sans', sans-serif;
}
a {
  color: #fdc134;
}
.show{
  display: none;
}
.rating{
  display: none;
}
.invert{
  display: inline-block; 
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
a:hover {
  color: #fdd067;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: transparent ;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
  transition: all ease-in-out 0.3s;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #fdc134;
}


  #header {
    z-index: 997;
    transition: all 0.5s;
    padding: 16px 0;
    background: transparent;
  }
  
  #header .logo h1 {
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo h1 a span, #header .logo h1 a:hover span {
    color: #fdc134;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  
  .nav-menu ul {
    border-radius: 6px;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: #adc7de;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-menu .get-started a {
    background: #213b52;
    color: #fff;
    border-radius: 50px;
    margin: 2px 0 0 15px;
    padding: 4px 25px 6px 25px;
    border: 2px solid #fdc134;
  }
  
  .nav-menu .get-started a:hover {
    background: #fdc134;
    color: #213b52;
  }
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #fdc134;
  }
  
  .mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #213b52;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
    transition: 0.3s;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #fdc134;
    text-decoration: none;
  }
  
  .mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav .get-started a {
    background: #213b52;
    color: #fff;
    border-radius: 50px;
    margin: 15px;
    padding: 8px 25px 10px 25px;
    text-align: center;
  }
  
  .mobile-nav .get-started a:hover {
    background: #fdc134;
    color: #213b52;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(18, 33, 46, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
.rating{
    width:400px;
    background: transparent;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
.rating .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.rating .post{
  display: none;
}
.rating .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #444;
  padding:10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}

input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color:#fe7;
  text-shadow: 0 0 20px #952;
}

#rate-1:checked ~ form header:before{
  content: "I just hate it 😠";

}
#rate-2:checked ~ form header:before{
  content: "I dont't like it 😒";
}
#rate-3:checked ~ form header:before{
  content: "I just like it 😊";
}
#rate-4:checked ~ form header:before{
  content: "I just love it 😎";
}
#rate-5:checked ~ form header:before{
  content: "It is awesome 😍";
}

.rating form{
  display: none;
}
input:checked ~ form{
  display:block;
}
form header{
  width:100%;
  font-size:25px;
  color:#fe7;
  font-weight:500;
  margin:5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  font: inherit;
  line-height: initial;
  height:100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222 ;
  padding: 10px;
  font-size: 17px;
  resize: none;
}

form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height:100%;
  width: 100%;
  color: #999;
  font-size:17px;
  font-weight:500;
  text-transform: uppercase;
  cursor:pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background:#1b1b1b;
}
#overlayer {
    width:100%;
    height:100%;  
    
    position:absolute;
    z-index:1;
  }
  .loader {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index:3;
    border: 4px solid #Fff;
    top: 50%;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    25% {
      height: 0%;
    }
    50% {
      height: 100%;
    }
    75% {
      height: 100%;
    }
    100% {
      height: 0%;
    }
  }
.out{
    color: black;
}
#ques{
    margin-left: 10%;
    margin-right:10%;
    color: black;
}.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #fdc134;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .card-5{
      margin-left: 25%;
      padding-top: 3%;
      padding-bottom: 3%;
      width: 50%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 50px 50px rgba(0, 0, 0, 0.22);
  }